@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  font-size: 100px;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

.root {
  min-height: 100vh;
  width: 100vw;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New",
    monospace;
}

/*  HOME  */

HomePageBody {
  background-color: beige;
  box-shadow: 0 4px 8px 0;
  max-width: 300px;
  margin: auto;
}

/* LOGIN FORM  */

.imagen {
  width: 390px;
  height: auto;
  top: 137px;
  left: -1px;
  gap: 0px;
  opacity: 0.5;
}

.homep {
  color: #004737;
  z-index: 1;
  opacity: 3;
  font-size: 14px;
}

.homediv {
  display: flex;
  background-color: #09b96d;
  color: #004737;
  gap: 50px;
  padding: 2%;
}

.homeback {
  background-image: url("./young-couple-looking-cell-phone.jpg");
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.homeli {
  background-color: rgba(87, 106, 102, 0.7);
  height: 151px;
  padding: 10px 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.button2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 5.13px;
  margin-bottom: 10%;
  margin-top: 15%;

  width: 357px;
  height: 46px;
  left: 16px;
  top: 400px;

  background: #09b96d;
  color: #ffffff;
  box-shadow: 0px 0.534375px 1.06875px rgba(16, 24, 40, 0.05);
  border-radius: 427.5px;
}

.button1 {
  padding: 10px;
  gap: 10px;

  width: 114px;
  height: 41px;
  left: 227px;
  top: 93px;
  color: white;
  background: #ff7d28;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;
}

.login h2 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  margin-top: 7%;
  margin-bottom: 7%;

  color: #004737;
}

.login form {
  padding: 10px;
}

.login input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 356px;
  height: 40px;
  padding: 0px 10px;
  border-color: gray;
  border-radius: 10px;
}

.login h3 {
  /* eBanca */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #004737;
  margin-bottom: 5%;
}

.loginregistrer {
  text-decoration: none;
}

.loginregistrer1 {
  /* Buttons */

  box-sizing: border-box;
  color: #ff7d28;
  font-size: 12px;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 5.13px;
  text-decoration: none;

  width: 142px;
  height: 41px;

  background: #fbf8e9;
  border: 1px solid #ff7d28;
  box-shadow: 0px 0.534375px 1.06875px rgba(16, 24, 40, 0.05);
  border-radius: 427.5px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.login h4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 80px;

  width: 202px;
  height: 41px;

  background: #fbf8e9;
  border: 1px solid #ff7d28;
  color: #ff7d28;
  box-shadow: 0px 0.534375px 1.06875px rgba(16, 24, 40, 0.05);
  border-radius: 427.5px;
}

.loginline {
  border-bottom: 1px solid;
  width: 90%;
  margin-left: 5%;
  color: #576a66;
  margin-bottom: 5%;
}

/* NAR NarBarSyles */
.authPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button1NavBar {
  display: flex;
  padding: 10px 20px;
  background: #ff7d28;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.bardiv {
  display: flex;
  align-items: center;
  /* justify-content: end; */
  /* width: min-content; */
}

.bar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 64px;
  left: 0px;
  background-color: #09b96d;
}

.logo {
  width: full;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: white;
  font-weight: 700;
  gap: 5px;
}

.bar h1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 5%;
  font-size: 1.5rem;
  gap: 5px;
  width: 125.93px;
  height: 29px;
  left: 17px;

  color: white;
  background-color: #09b96d;
}

button.menu {
  color: white;
  /* margin-left: 150px; */
  text-decoration: none;
  background-color: #09b96d;
  width: 40px;
  height: 40px;
  border: #09b96d;
  font-size: 1.5rem;
  padding-top: 5%;
}

.dropdownlinks {
  display: flex;
  font-size: smaller;
  max-height: 70px;
  max-width: 50px;
  overflow: scroll;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 113px 8px;
  gap: 20px;
  isolation: isolate;
   */
}

.DropdownLinksItem {
  font-size: small;
}

/* NOTIFICATION */

/* REGISTERFROM */

body {
  /* fallback for old browsers */
  background: white;
}

/*TRANSFERENCIA - HOME*/

h1 {
  font-size: medium;
  text-align: start;
}

.title {
  padding: 0px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #004737;
}

.line {
  border-bottom: 1px solid;
  width: 90%;
  margin-left: 5%;
  color: #576a66;
  margin-top: 3%;
}

.cuenta {
  margin: 0px 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-style: groove;
  color: #004737;
  font-size: 1rem;
  margin-top: 10%;
  border-radius: 10px 10px 0px 0px;
}

.logoPerson {
  font-size: xx-large;
  /* width: 10%; */
}

.cuentap {
  width: 100%;
  color: #09b96d;
}

.option1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 10px;

  width: 356px;
  border: 1px;
  height: 38px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  margin-top: 5%;
  color: #004737;
}

.option2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 10px;

  width: 356px;
  border: 1px;
  height: 38px;
  color: #004737;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 10%;
}

.footer {
  height: 96px;
  color: #004737;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer p {
  color: #004737;
  margin-top: 80%;
  margin-left: -120%;
}

.none {
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  color: #004737;
}

.none p {
  font-size: 13px;
}

.none:hover {
  color: white;
  background-color: #09b96d;
  border-radius: 10px;
  padding: 2px;
}

/* TRANSFER PAGE */
.tcontact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Añadido para centrar verticalmente */
  padding: 113px 8px;
  gap: 20px;
  isolation: isolate;
  color: #004737;
  position: absolute;
  width: 353px;
  height: 667px;
  left: 38px;
  top: 92px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.terceros {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 332px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.ecuentas {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 332px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.ndestinatario {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 330px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
  z-index: 3;
}

.footerTP {
  height: 96px;
  color: #004737;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}