h1{font-size: medium;
text-align: start;}


.line{  border-bottom: 1px solid ;
    width: 90%;
    margin-left: 5%;
    color: #576a66;
}
.cuenta{display: flex;
    justify-content: start;
    gap: 40px;;
    border-style:groove;
    color:#004737;
    font-size: 1rem;
    margin-top: 10%;
    padding: 2%;

   }

 .option1{color:#004737;
}

